doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Window shell
  link(rel="stylesheet", href="./css/style.min.css")

body

  script(src="./dist/js/script.min.js", charset="utf-8")
