doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title My project
  link(rel="stylesheet", href="./css/style.min.css")

body
  textarea#hidden(name="hidden")

  //- .window(tabindex="1")
  //-
  //-   .window-header
  //-     .icon
  //-       .icon-header
  //-         .dots
  //-       .icon-main
  //-         span C:\
  //-     span C:\Windows\system32\cmd.exe
  //-     .controls
  //-       #min(title="Minimize")
  //-       #max(title="Maximize")
  //-       #close(title="Close")
  //-
  //-   .window-main
  //-     p.line Microsoft Windows [Version 10.0.10586]
  //-     p.line (c) 2015 Microsoft Corporation. All rights reserved.
  //-     p.line
  //-     p.line#active
  //-       | C:\Users\Bartek>
  //-       span.command



  script(src="./dist/js/script.min.js", charset="utf-8")
